<launch>
    <!--
        ROS bag attack injector for LVI-SAM.
        Usage:
          roslaunch slamspoof_icra rosbag_editer_lvisam.launch config_file_path:=path/to/config.json
    -->
    <arg name="config_file_path"
         default="$(find slamspoof_icra)/config_lvisam.json"/>
    <param name="config_file" value="$(arg config_file_path)"/>

    <!-- Launch the Rosbag attack editor node -->
    <node name="rosbag_editer_lvisam" pkg="slamspoof_icra" type="spoofing_editer_lvisam.py" output="screen" cwd="node"/>
</launch>
